# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements (même si tu n'en veux pas)
.venv/
venv/
.env

# Données locales (NE PAS publier)
config.yml
baseline.json
.data/

# Logs / divers
*.log

# macOS
.DS_Store

mock.log
.mock.pid
